/** @format */

.main {
	overflow: scroll;
	height: 100vh;
}

.slots {
	display: flex;
	gap: 20px;
	flex-direction: column;
	height: 100vh;
	overflow: scroll;
}

.block {
	display: flex;
	padding-left: 40px;
	gap: 20px;
}
