/** @format */

.main {
	background-color: #f3f4f6;
	width: 1200px;
	max-height: 820px;
	border-radius: 4px;
	padding: 32px 40px;
	overflow: hidden;
}

.table {
	width: 100%;
}

.colomn {
	padding-bottom: 32px;

	color: #111827;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px; /* 142.857% */
}

.colomn:nth-child(1) {
	width: 179px;
	text-align: left;
}

.colomn:nth-child(2) {
	width: 301px;
	text-align: left;
}

.colomn:nth-child(3),
.colomn:nth-child(4),
.colomn:nth-child(5),
.colomn:nth-child(6) {
	width: 160px;
	text-align: center;
}
