/** @format */

.main {
	background-color: #fafafa;
	overflow: hidden;

	color: #111827;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
}

.colomn:nth-child(1) {
	display: flex;
	align-items: center;
	width: 179px;
	text-align: left;
}

.colomn:nth-child(2) {
	width: 301px;
	text-align: left;
}

.colomn:nth-child(3),
.colomn:nth-child(4),
.colomn:nth-child(5),
.colomn:nth-child(6) {
	width: 160px;
	text-align: center;
}

.deco {
	display: inline-block;
	width: 4px;
	height: 56px;

	margin-right: 12px;
}

.product {
	text-transform: capitalize;
}

.logo {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: cadetblue;
	margin-right: 16px;
}
.space {
	height: 8px;
}
