/** @format */

.main {
	width: 652px;
	height: 312px;
	padding: 20px;

	border-radius: 4px;
	background-color: #f3f4f6;
}

.title {
	margin-bottom: 20px;

	color: #111827;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 140% */
}

.list {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	width: 100%;
}
